*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    font-size: 20px;
    background-color: rgb(22, 22, 22);
    color: white;
}
section ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
section li {
    background-color: rgb(20, 20, 20);
    box-shadow: 0 4px 5px 5px rgba(0,0,0, 0.2);
    padding: 40px;
    border-radius: 20px;
    margin: 20px 20px;
    flex: 1 0;
    max-width: 30%;
}
section li h1 {
    font-weight: 400;
    font-size: 120%;
}
section li p {
    font-size: 80%;
}
#header{
    background:  linear-gradient(rgba(0, 0, 0, 0),rgb(22, 22, 22)), url("../img/resto.jpg") no-repeat;
    background-size: contain;
    background-attachment: fixed;
    height: 100vh;
    color: white;
}
#header-content{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%,0);
    text-align: center;
}
#header-content h1 {
    margin-bottom: 30px;
}

#menu {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 10000;
    list-style-type: none;
    
}

#menu h3 {
    font-weight: 500;
    font-size: 100%;
    display: inline-block;
    opacity: 0;
    transition: opacity 0.2s;
}

#menu li {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
}

#menu a {
    display: inline-block;
    height: 8px;
    width: 8px;
    text-decoration: none;
    margin-left: 10px;
}

#menu a:hover {
    transform: scale(1.3) ;
    transition: transform 0.1s;
}

#menu a:hover ~ h3 {
    opacity: 1;
}

#menu .active a {
    transform: scale(1.6);
}

#menu span {
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: white;
    border-radius: 999px;
}

#menu h3 {
    display: inline-block;
}

section {
    padding: 200px 80px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    background-color: #222;
    padding: 40px 100px;
}

.btn-reserve{
    position: fixed;
    border: none;
    padding: 8px 24px;
    font-size: 80%;
    font-family: inherit;
    cursor: pointer;
    outline: none;
    z-index: 9999;
    bottom: 20px;
    right: 20px;
    border-radius: 999px;
    color: black;
}
