*{
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
}
body{
    margin: 40px;
    background-color: beige;
}
ul{
    list-style: none;
}
#header{
    background: url("./img/Wood.jpeg") no-repeat;
}